.logo {
  height: 150px;
  cursor: pointer;
}

.subtitle {
  font-style: italic;
  font-size: x-large;
  color: rgb(38, 12, 2);
}

.themeFontColor {
  color: coral;
}

tr {
  cursor: pointer;
}

.frameClass {
  height: 80vh;
}